body{
	font-family: "microsoft yahei";
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.m-adress{
	position: relative;
}
.u-send-info{
	box-sizing: border-box;
	display: table;
	width: 100%;
	height: 60px;
	padding: 10px 16px;
	border-bottom: 1px solid #d9d9d9;
	font-size: 14px;

	.cmodule-title{
		margin: 0 0 10px;
		width: 100px;
		font-size: inherit;
		display: table-cell;
		vertical-align: middle;

		.icon-cmodule{
			margin-right: 10px;
			width: 15px;
			height: 15px;
			background: url("http://static11.elemecdn.com/forward/dist/img/cart/cart-sprites.248cae2a.png") no-repeat transparent;
			display: inline-block;
			vertical-align: text-bottom;
		}
		.icon-cmodule.address{
			background-position: -60px -100px;
		}
		.icon-cmodule.time{
			background-position: -100px -100px;
		}
		.icon-cmodule.payment{
			background-position: -120px -100px;
		}
	}

	.cmodule-content{
		vertical-align: middle;
		display: table-cell;
		.cmodule-info{
			color: #555;
			vertical-align: middle;
		}
		.cmodule-edit{
			margin-left: 10px;
			font-size: 13px;
			color: #999;
			vertical-align: middle;
			cursor: pointer;
		}

		.cart-time{
			position: relative;
			width: 110px;
			cursor: pointer;
			line-height: 24px;

			.ctime-toggle{
				background-color: #f4f4f4;
				background-image: linear-gradient(to bottom, #fafafa, #efefef);
				padding: 0 10px;
				border: 1px solid #ccc;
				border-radius: 2px;

				:after{
					content: "";
					position: absolute;
					top: 8px;
					right: 10px;
					font: 10px/1em "eleme";
				}
			}
		}

		.cart-payment{
			float: left;
			margin: 5px 10px 5px 0;
			.cpayment-choice{
				display: inline-block;
				padding: 3px 11px;
				border-radius: 2px;
				border: 1px solid #ccc;
				background: #fff;
				line-height: 18px;
				color: #333;
				cursor: pointer;
			}

			.ui_selected{
				position: relative;
				border-color: #eb6100;
				box-shadow: 0 0 0 1px #eb6100 inset;

				
			}
			.ui_selected:after{
					content: "";
					position: absolute;
					bottom: 0;
					right: 0;
					width: 13px;
					height: 13px;
					background: url("http://static11.elemecdn.com/forward/dist/img/cart/cart-sprites.248cae2a.png") no-repeat transparent -140px -100px;
				}
		}

		.activity-tip{
			float: left;
			margin: 5px 10px 5px 0;
			padding: 2px 8px;
			background: #fc4538;
			border: 1px solid #d72518;
			color: #fff;
			font-size: 12px;
		}

	}

}

.hover-bac:hover{
		background: #f1fafc;
}

.cmodal-address{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 110;
	display: none;
	
	padding: 15px 20px;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
	z-index: 1001;
	.cmodal-header{
		margin: 0 0 10px;
		font-size: 14px;
	}
	.cmodal-content{
		position: relative;
		.clist-item{
			padding: 5px 10px;
		}
		.clist-item.ui_current{
			background: #f1f1f1;
		}
	}
	.clist-item.ui_current{
		background: #f1f1f1;
		padding: 5px 10px;
		.input.clist-radio{
			margin-right: 5px;
			box-sizing: border-box;
			padding: 0;
		}
		.caddr-edit-field{
			display: inline-block;
			width: 85%;

			input{
				height: 28px;
				padding: 4px;
				border: 1px solid #bbb;
				border-radius: 2px;
				line-height: 1.2em;
				box-sizing:border-box;
				font-size: 12px;
			}
			.name{
				width: 80px;
			}
			.addr{
				width: 170px;
			}
			.bk,.tel{
				margin-left: 2px;
				width: 124px;
			}
		}
		.caddr-modify{
			display: block;
			float: right;
			width: 10%;
			text-align: right;
			line-height: 28px;
			.del{
				color: #999;
				font: bold 14px/1 Tahoma,sans-serif;
				font-size: 14px;
				cursor: pointer;
			}
		}
	}

	.cmodal-footer{
		margin: 15px 0 0;
		.ui-btn{
			display: inline-block;
			padding: 6px 20px;
			border-radius: 2px;
			border: 1px solid #bbb;
			box-shadow: 0 1px 1px rgba(0,0,0,0.1);
			color: #444;
			font-size: 13px;
			line-height: 16px;
		}
		.btn-confirm{
			background-color: #3ea6ff;
			background-image: linear-gradient(to bottom, #42abff, #3ba2ff);
			border-color: #368eca;
			color: #fff;
			box-sizing: border-box;
		}
		.cancel_btn{
			margin-left: 10px;
			cursor: pointer;
		}
	}
}

.u-mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	display: none;
}