@charset "utf-8";
body{
	font-family: "microsoft yahei";
}
a{
	text-decoration: none;
}
ul,ol{
	list-style: none;
	margin: 0;
	padding: 0;
}

.ui-err-notice{
	background: #e74c3c;
	position: absolute;
	padding: 3px 8px;
	border-radius: 3px;
	box-shadow: 1px 2px 1px rgba(0,0,0,0.1);
	font-size: 12px;
	color: #fff;
	white-space: nowrap;
	cursor: default;
	top: -45px;
	left: 0;
	display: none;
}
.ui-err-notice:after{
	content: "";
	width: 0;
	height: 0;
	display: block;
	border-style: solid;
	border-width: 8px;
	border-color: #e74c3c transparent transparent;
	position: absolute;
	left: 50%;
	bottom: -15px;
	margin-left: -4px;
}
.m-adress{
	position: relative;
}
.u-send-info{
	box-sizing: border-box;
	display: table;
	width: 100%;
	height: 60px;
	padding: 10px 16px;
	border-bottom: 1px solid #d9d9d9;
	font-size: 14px;

	.cmodule-title{
		margin: 0 0 10px;
		width: 100px;
		font-size: inherit;
		display: table-cell;
		vertical-align: middle;

		.icon-cmodule{
			margin-right: 10px;
			width: 15px;
			height: 15px;
			background: url("http://static11.elemecdn.com/forward/dist/img/cart/cart-sprites.248cae2a.png") no-repeat transparent;
			display: inline-block;
			vertical-align: text-bottom;
		}
		.icon-cmodule.address{
			background-position: -60px -100px;
		}
		.icon-cmodule.time{
			background-position: -100px -100px;
		}
		.icon-cmodule.payment{
			background-position: -120px -100px;
		}
	}

	.cmodule-content{
		vertical-align: middle;
		display: table-cell;
		.cmodule-info{
			color: #555;
			vertical-align: middle;
		}
		.current_name,.current_tel{
			font-weight: bold;
			margin-right: 4px;
		}
		.cmodule-edit{
			margin-left: 10px;
			font-size: 13px;
			color: #999;
			vertical-align: middle;
			cursor: pointer;
		}

		.cart-time{
			position: relative;
			width: 110px;
			cursor: pointer;
			line-height: 24px;

			.ctime-toggle{
				background-color: #f4f4f4;
				background-image: linear-gradient(to bottom, #fafafa, #efefef);
				padding: 0 10px;
				border: 1px solid #ccc;
				border-radius: 2px;

				:after{
					content: "";
					position: absolute;
					top: 8px;
					right: 10px;
					font: 10px/1em "eleme";
				}
			}

			.ctime-dropdown{
				position: absolute;
				z-index: 50;
				box-sizing: border-box;
				top: 0;
				left: 0;
				width: 100%;
				max-height: 144px;
				overflow-x:hidden;
				overflow-y: auto;
				background: #fff;
				box-shadow: 0 1px 2px rgba(0,0,0,0.2);

				border: 1px solid #ccc;
				border-radius: 2px;

				display: none;

				li{
					padding: 0 10px;
				}
				li:hover{
					background: #ebebeb;
				}

			}
			.ctime-dropdown.on{
				display: block;
			}
		}

		.cart-payment{
			float: left;
			margin: 5px 10px 5px 0;
			.cpayment-choice{
				display: inline-block;
				padding: 3px 11px;
				border-radius: 2px;
				border: 1px solid #ccc;
				background: #fff;
				line-height: 18px;
				color: #333;
				cursor: pointer;
				position: relative;
			}
			.ui_disabled{
				background: #ebebeb;
				color: #999;
				cursor: default;
			}
			.ui_disabled:hover{
				.u-disabled-tip{
					display: block;
				}
			}
			.u-disabled-tip{
				position: absolute;
				display:block;
				top: -94px;
				background: #df4d3f;
				text-align: center;
				border-radius: 4px;
				color: #fff;
				display: none;
			}
			.u-disabled-tip:after{
				content: "";
				width: 0;
				height: 0;
				display: block;
				border-width: 12px;
				border-color: #df4d3f transparent transparent;
				border-style: solid;
				position: absolute;
				left: 23px;
			}

			.ui_selected{
				position: relative;
				border-color: #eb6100;
				box-shadow: 0 0 0 1px #eb6100 inset;

				
			}
			.ui_selected:after{
					content: "";
					position: absolute;
					bottom: 0;
					right: 0;
					width: 13px;
					height: 13px;
					background: url("http://static11.elemecdn.com/forward/dist/img/cart/cart-sprites.248cae2a.png") no-repeat transparent -140px -100px;
				}
		}

		.activity-tip{
			float: left;
			margin: 5px 10px 5px 0;
			padding: 2px 8px;
			background: #fc4538;
			border: 1px solid #d72518;
			color: #fff;
			font-size: 12px;
		}

	}

}

.hover-bac:hover{
		background: #f1fafc;
}

.cmodal-address{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 110;
	display: none;
	
	padding: 15px 20px;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
	z-index: 1001;
	.cmodal-header{
		margin: 0 0 10px;
		font-size: 14px;
	}
	.cmodal-content{
		position: relative;
		.clist-item{
			padding: 5px 10px;
		}
		.clist-item.ui_current{
			background: #f1f1f1;
		}
	}
	.clist-item.ui_current{
		background: #f1f1f1;
		padding: 5px 10px;
		.input.clist-radio{
			margin-right: 5px;
			box-sizing: border-box;
			padding: 0;
		}
		.caddr-edit-field{
			display: inline-block;
			width: 85%;

			input{
				height: 28px;
				padding: 4px;
				border: 1px solid #bbb;
				border-radius: 2px;
				line-height: 1.2em;
				box-sizing:border-box;
				font-size: 12px;
			}
			.name{
				width: 80px;
			}
			.addr{
				width: 170px;
			}
			.bk,.tel{
				margin-left: 2px;
				width: 124px;
			}
		}
		.caddr-modify{
			display: block;
			float: right;
			width: 10%;
			text-align: right;
			line-height: 28px;
			.del{
				color: #999;
				font: bold 14px/1 Tahoma,sans-serif;
				font-size: 14px;
				cursor: pointer;
			}
		}
	}

	.cmodal-footer{
		margin: 15px 0 0;
		.ui-btn{
			display: inline-block;
			padding: 6px 20px;
			border-radius: 2px;
			border: 1px solid #bbb;
			box-shadow: 0 1px 1px rgba(0,0,0,0.1);
			color: #444;
			font-size: 13px;
			line-height: 16px;
		}
		.btn-confirm{
			background-color: #3ea6ff;
			background-image: linear-gradient(to bottom, #42abff, #3ba2ff);
			border-color: #368eca;
			color: #fff;
			box-sizing: border-box;
		}
		.cancel_btn{
			margin-left: 10px;
			cursor: pointer;
		}
	}
}

.u-mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	/* display: none; */
}


.sms-auth{
	width: 598px;
	height: 289px;
	border-radius: 3px;
	box-shadow:  0px 5px 15px rgba(0, 0, 0, 0.498039);
	position: relative;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(0, 0, 0, 0.2);
	position: fixed;
	left: 50%;
	top: 159px;
	margin-left: -300px;
	z-index: 1001;

	.exit-sms-auth{
		position: absolute;
		right: 5px;
		top: 5px;
		font: 700 14px/1em Tahoma,sans-serif;
		color: #333;
	}
	.exit-sms-auth:hover{
		color: blue;
	}

	.bs-modal-title{
		font-size: 18px;
		line-height: 1em;
		margin: 0;
		padding: 15px 20px;
		border-bottom: 1px solid rgb(229, 229, 229);
	}
	.bs-modal-body{
		padding: 30px 40px;
	}

	.ui-alert{
		margin-top: -20px;
		background: rgb(254, 250, 174);
		border: 1px solid rgb(235, 223, 188);
		color: rgb(182, 140, 67);
		margin-bottom: 20px;
		padding: 8px 14px;
		border-radius: 3px;
		font-size: 14px;
		.icon-warning{
			margin-right: 6px;
			width: 16px;
			height: 16px;
			background: url(http://static11.elemecdn.com/forward/dist/img/cart/cart-sprites.248cae2a.png) 0px -100px no-repeat transparent;
		}
	}
	.checkout-auth-title{
		font: bold 18px/1.6 'Helvetica Neue', Arial, 'Microsoft Yahei', sans-serif;
		margin: 0 0 10px;
	}

	.u-auth-send{
		.auth-input-wrapper{
			float: left;
			margin: 0px 14px 0px 0px;
			padding: 4px;
			border-radius: 2px;
			border: 1px solid rgb(204, 204, 204)
		}
		.auth-input{
			font-size: 14px;
			border-color: transparent;
			width: 160px;
			height:28px;
			padding: 4px;
			box-sizing: border-box;
			display: inline-block;
			outline: none;

		}
		.repeat-send{
			display: inline-block;
			height: 28px;
			background: rgb(66, 171, 255);
			border-radius: 2px;
			line-height: 28px;
			color: rgb(255, 255, 255);
			padding: 0px 4px;
			font-size: 14px;
			text-align: center;
			outline: none;
			border: none;
			cursor: pointer;
		}
		.confirm-sms-auth{
			width: 100px;
			height: 36px;
			line-height: 36px;
			background-color: rgb(255, 242, 142);
			background-image: linear-gradient(rgb(255, 250, 184), rgb(255, 234, 100));
			border-color: rgb(226, 199, 141);
			padding: 0px;
			font-size: 14px;
			text-align: center;
			display: inline-block;
			border-radius: 2px;
			border: 1px solid rgb(187, 187, 187);
		}
		:after{
			content: '';
			display: table;
			clear: both;
		}
	}
}