.recent_month {
  float: right;
  border: 1px solid #ccc;
  width: 700px;
  min-height: 537px;
  background: white;
}
.recent_month .header {
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 15px;
  overflow: hidden;
}
.recent_month .header h2 {
  font: bold 18px/1.5 tahoma, sans-serif;
  float: left;
  color: #555;
  margin: 0;
}
