.recent_month{
  float: right;
  border: 1px solid #ccc;
  width: 700px;
  min-height: 537px;
  background: white;
  .header{
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    overflow: hidden;
    h2{
      font: bold 18px/1.5 tahoma,sans-serif;
      float: left;
      color: #555;
      margin: 0;
    }
  }
  .inner{
    padding: 15px;


    .order_form{
      border: 1px solid #a6c9e2;
      padding-bottom: 20px;
      margin-bottom: 20px;
      .order_header{
        background: #eff8ff;
        border-bottom: 1px solid #a6c9e2;
        padding: 10px;
        .order_wrapper{
          height: 32px;
          margin: -6px 0 0 -16px;
          .order_title{
            float: left;
            font-size: 16px;
            background: #fff;
            border-radius: 4px;
            box-shadow: 1px 1px 2px #DDD;
            padding: 3px 19px 3px 14px;
          }
          .finish{
            border: 3px solid #a7e18b;
            color: #2b7c28;
          }
          .unfinish{
            border: 3px solid #ccc;
            color: #666;
          }
        }
      }
    }
  }
}